<section id="educacion"> <br>
    <img src="./assets/educacion.png" class="icono">
    <h1 class="subtitulotipo1"> Educación</h1>
    <section id="unlpam">
    <img src="./assets/unlpam.png" class="logo-uni">
    <h2 class="ch2"> {{miporfolio?.tituloinstitucion1}}</h2>
    <p> {{miporfolio?.institucion1}} {{miporfolio?.periodoinstitucion1}} </p>
    </section> <br> <br>
    <section id="ifd"> <img src="./assets/IFD.jpg" class="logo-ifd"> <br>
    <h2 class="ch2"> {{miporfolio?.tituloinstitucion2}} </h2>
    <p>{{miporfolio?.Institucion2}} {{miporfolio?.Periodoinstitucion2}} </p>
    </section>
    </section>
