<section id="proyecto"> 
    <h1 class="subtitulo"> Proyectos </h1> <br>
    <section id="argentinaprograma">
    <img src="./assets/logo AP.ico" class="logos">
       <h2 class="ch2">  {{miporfolio?.Proyecto1}}</h2>
    <p>{{miporfolio?.Descripcionproyecto1}} {{miporfolio?.duracionproyecto1}} </p>  
    </section>
    <section id="pilquen" class="ch2">
    <img src="./assets/pilquen.jpg" class="logos">
    <h2>{{miporfolio?.Proyecto2}}</h2>
    <p> {{miporfolio?.descripcionproyecto2}} {{miporfolio?.periodoproyecto2}} </p> </section>
    <section id="incitap"> 
    <img src="./assets/incitap.jpg" class="logos">
    <h2 class="ch2"> {{miporfolio?.Proyecto3}}</h2>
    <p> {{miporfolio?.descripcionproyecto3}} {{miporfolio?.periodoproyecto3}}</p>
    </section>    
    </section>
