<header id="main-header">
    <img src="./assets/logo AP.ico" alt="logo" id="logo-header"> 
    <img src="./assets/Romina-logo.jpg" id="logo-marca">
   <a href="https://facebook.com"> <img src="./assets/Facebooklogo.ico" id="facebook-top"></a> 
     <a href="https://instagram.com"><img src="./assets/Instagramlogo.ico" id="instagram-top"></a>   
     <button type="button" id="login-top" >LOGIN <a href="login.html"></a> </button>        
  <img class= banner src="./assets/banner.jpg">
  </header>
