<article id=article-experiencia>
    <section class="experiencia">
      <img src="./assets/experiencia.png" class="icono">
  <h1 class="subtitulotipo1"> Experiencia</h1> <br>
  <section id="gobierno">
  <a href="https://lapampa.gob.ar"> <img src="./assets/LogoGobiernodeLaPampa2020.png" class="logos"> </a>
<h2 class="ch2"> {{miporfolio?.cargoexperiencia1}} </h2> 
<p> {{miporfolio?.experiencia1}} {{miporfolio?.periodoexperiencia1}} </p>       
  </section>
  <section id="sch-section">
   <a href="https://www.southerncrosshorticulture.co.nz/"> <img src="./assets/sch.jpg"  id="sch"> </a>
<h2 class="ch2">{{miporfolio?.experiencia2}}</h2>
<p>{{miporfolio?.cargoexperiencia2}} {{miporfolio?.periodoexperiencia2}} </p>
</section>
</section>
</article>
